<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-android-xposed" version="0.0.1">

    <name>cordova-plugin-android-xposed</name>
    <description>Cordova XPosed Plugin For Android</description>
    <license>Apache 2.0</license>
    <keywords>xposed, android</keywords>

    <repo>https://github.com/SinRedemption/cordova-plugin-android-xposed</repo>
    <issue>https://github.com/SinRedemption/cordova-plugin-android-xposed/issues</issue>

    <engines>
        <engine name="cordova" version=">=8.0.0" />
    </engines>

    <js-module src="www/xposed.js" name="AndroidXposed">
        <clobbers target="plugins.androidXposed" />
    </js-module>

    <platform name="android">
        <source-file src="assets/xposed_init" target-dir="assets"/>
        <source-file src="src/" target-dir="src/main/java/com/skynet"/>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/">
            <meta-data android:name="xposedmodule" android:value="true"/>
            <meta-data android:name="xposedminversion" android:value="53"/>
            <meta-data android:name="xposeddescription" android:value="心动监听"/>
        </config-file>
    </platform>

    <lib-file src="libs/xUtils-2.6.14.jar"/>

    <framework src="de.robv.android.xposed:api:82"/>
    <framework src="de.robv.android.xposed:api:82:sources"/>
    <framework src="com.alibaba:fastjson:1.2.51"/>
</plugin>
